
  
  
  .navbar{
    position: absolute;
    width: 100%;
    height: 61px;
    background: #004977;
  }
  
    /* .nagivationBar{
    text-align: center;
  } */
  
  /* .nagivationBar-logo {
    height: 40vmin;
    pointer-events: none;
  } */
  
  /* .nagivationBar-link {
    color: #61dafb;
  }
   */
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  