  .nagivationBar{
    text-align: center;
  }
  
  /* .nagivationBar-logo {
    height: 40vmin;
    pointer-events: none;
  } */
  
  
  
  .nagivationBar-header {
    position: absolute;
    width: 685px;
    height: 61px;
    background: #004977;
  }
  
  /* .nagivationBar-link {
    color: #61dafb;
  }
   */
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  